.footer__top{
    background: $dark-gray;
        
    .footer__cat-items{
        
            .footer__cat-title{
                display: block;
                text-align: center;
                font-weight: 600;
                color: $white;
                
                @include breakpoint(medium up) {
                   text-align: left;
                }

            }
            ul{
                padding: 0;
                margin-left: 0;

            li{
                display: block;
                text-align: center;
               

                @include breakpoint(medium up) {
                   text-align: left;
                   
                }
                
                &:first-child{
                    padding-top: 1em;
                }
            }

            li a{
                color: $white;
                font-weight: 300;
                font-size: 14px;
            }
        }
    }
    .footer__middle{

        .footer__middle__title{
            padding-top: 1em;
            padding-bottom: 1em;
            text-align: left;
            color: $white;
            
        }

        .footer__middle__quicklinks__title{
            display: block;
            padding-bottom: 1em;
            text-align: center;
            color: $white;
            font-weight: 600;
        }

        .footer__middle_menu{
            margin-left: 0;
            
            li{
                a{
                  color: $white;  
                }
            }
        }

        .footer__middle_contact{
            
            .footer__middle_contact__title{
                display: block;
                padding-bottom: 1em;
                text-align: center;
                font-weight: 600;
                color: $white;
                
                @include breakpoint(medium up){
                    text-align: left;
                }   
            }

            p{
                margin-bottom: 0;
                text-align: center;
                color: $white;
                
                @include breakpoint(medium up){
                    text-align: left;
                }
                
                &:last-of-type{
                    padding-bottom: 1em;
                }
            }
            
            a{
                color: #ab2033;
            }
        }
       
    }
   .footer-bottom{

        .footer-bottom__copyright{
            color: $white;
        }

        .footer-bottom__icons{
            
            .fa-instagram{
                border: 3px solid white;
                border-radius: 50%;
                padding: 9px 11px;
                font-size: 1.5em;
                color: $white;
            }
            
            .fa-facebook{
                border: 3px solid white;
                border-radius: 50%;
                padding: 8px 14px;
                margin-right: 10px;
                font-size: 1.5em;
                color: $white;
               
            }
        }
    }
}