header {

    .header__top-menu{

        background: $dark-gray;
        text-align: center;
        
        @include breakpoint(medium up) {
            text-align: left;
        }

        nav{
            float: left !important;

            @include breakpoint(medium up) {
                float: right !important;
            }
        }

        li{
            border: none;
           
            @include breakpoint(medium up) {
               
                border-right: .5px solid grey;
            }

            &:first-child{
                border-right: 0;
            }
        }

        span {
            color:$white;
        }

        a{
            padding-left: 1em;
            padding-right: 1em;
        }

        .fa{
            color: $gradient-red;
        }

        .header__top-menu__left-icons{

            li{

                border-left: 0;

                @include breakpoint(medium up) {
                    border-left: .5px solid grey;
                }
            }

            li:first-child{
                border-right: 0;
            }

            span{
                padding-left: 5px;
            }
        }
    }
    .header__mast{
        padding-top: 1em;
        padding-bottom: 1em;

        .header__mast-number{

            .fa{
                color: $primary-color;
            }
        }

        .header_mast-logo{

            img{
                padding-bottom: 1em;
                padding-top: 1em;
                
                @include breakpoint(medium up) {
                    padding-bottom: 0;
                    padding-top: 0;
                }
           } 
            
        }

        .header__mast-searchbar{

            input{
                
                &:focus{
                    box-shadow: 0;
                    border: 0;
                }
            }
        }
    }

}

