.home-about{
    padding-top: 0;
    padding-bottom: 0;
    background: $dark-gray;
    border-top: 3px solid $gradient-red;
    color: $white;
    

    @include breakpoint(medium up){
        padding-top: 0;
        padding-bottom: 0;
    }

    @include breakpoint(large up){

    }
    .home-about__header{
        padding-top: 0;
    }

    .home-about__button.button{
        width: 100%;
        background: linear-gradient(to right, $gradient-red, $gradient-orange);
        border: none;
        padding-top: 1.5em;
        padding-bottom: 1.5em;
        color: $white;
    
        @include breakpoint(medium up){
            width: 50%;
            padding-top: 1em;
            padding-bottom: 1em;
           
        }  

        &:hover{
            box-shadow: $black 0px 0px 1px;
            opacity: 0.9;
        }
       
        &:focus{
            background: linear-gradient(to right, $gradient-red, $gradient-orange);
            color: $white;
        }
       
        .fa{
            color: $white;
        }
    }
}
