.home-info{
    background: linear-gradient(to right, $gradient-red, $gradient-orange);
    padding-bottom: 0;
    color: $white;
   
    @include breakpoint(medium up){
        
        h4{
            padding-top: 1em;
        }
    }

    .fa{
        position: relative;
        top: 25px;
        right: 275px;
        font-size: 1em;
        
        @include breakpoint(medium up){
            position: static;
            padding: .5em;
        }
    } 
        
   .home-info__title{
        text-align: center; 
        font-size: 1.5em;
     
        @include breakpoint(medium up) {
            text-align: left;
            font-size: 2em;
           
        }
   }

   .home-info__sub-title{
        display: block;
        text-align: center;

        @include breakpoint(medium up) {
            display: inline-block;
            text-align: left;
        }
   }

    .home-info__details{
        background: $dark-gray;
        
        @include breakpoint(medium up) {
            background: transparent;
        }
    }

    .home-info__callout-phone {
        display: block;
        text-align: center;  
        padding-bottom: 1em;
        font-size: 2em;
        font-weight: 600;
        
        @include breakpoint(medium up) {
            text-align: right;
            font-size: 4em;
        }
    }
}
