.header__main-nav{
    .fa{
        color: $primary-color;
    }
    li{
        border: 0.5px solid #E1E1E1;
        font-size: 14px;
        font-weight: 600;
    }
    a{
        padding-top: 1em;
        padding-bottom: 1em;
        padding-left:0;
        padding-right: 0;
    }
}