.news-letter{
    background: $dark-gray;
    color: $white;

    .small-display-block{
       
        @include breakpoint(small only){
            display: block;
        }
    }

    .news-letter__title{

        .fa{
            color: $primary-color;
        }

        span{
            font-weight: 300;
        
        }
    }

    .news-letter__subtitle{
        text-align: left;

        p{
            font-weight: 300;
            font-size: 14px;
            
        }
    }

   .news-letter__form{
    
        input{
            padding-top: 1.5em;
            padding-bottom: 1.5em;
            
            &:focus{
                box-shadow: none;
                border: 1px solid #8a8a8a;
            }

            @include breakpoint(medium up){
                padding-top: 1em;
                padding-bottom: 1em;
            }
        }

        .button{
            width: 100%;
            background: linear-gradient(to right, $gradient-red, $gradient-orange);
            border: none;
            padding: 1.5em;
            color: $white;
           
            @include breakpoint(medium up){
                padding: 1em;
            }

            &:hover{
                opacity: 0.9;
            }
        }

        ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: $black;
          }
          
          ::-moz-placeholder { /* Firefox 19+ */
            color: $black;
          }

          :-ms-input-placeholder { /* IE 10+ */
            color: $black;
          }

          :-moz-placeholder { /* Firefox 18- */
            color: $black;
          }
   }

}